
<div class="cuerpo">
  
     <div class="container" class="superior">
        <h1>HACKER NEWS</h1>
     </div>
      <hr>
      <br>
      <br>
      <br>

     <div class="botonesStyle">
       <button type="button" class="btn btn-outline-primary">All</button>
       <button type="button" class="btn btn-outline-primary">My faves</button>

      </div>

      <br>
      <br>

      <div class="select">
        <select>
          <option value="">Escoja una:</option>
          <option value="Angular">Angular</option>
          <option value="React">React</option>
          <option value="Vuejs">Vuejs</option>
        </select>
      </div>

     <br>
     <br>
     <br>

    <div class="container"><app-vistas></app-vistas></div>
     
<div>
  


